
.success-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f6f7fb;
}

.success-card {
  background: white;

  padding: 40px;

  border-radius: 14px;

  text-align: center;

  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.tick {
  width: 60px;
  height: 60px;

  margin: auto;
  margin-bottom: 15px;

  border-radius: 50%;

  background: #f36a1a;;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 28px;
}

.success-card button {
  margin-top: 15px;

  padding: 10px 14px;

  border: none;

  background: #f36a1a;;
  color: white;

  border-radius: 8px;

  cursor: pointer;
}